@model WCSearch.Models.SearchData

@{
    ViewData["Title"] = "About";
}
<br />


<p>

<br/>
    <h3>Search Application for California WC Board of Appeal <em> En Banc </em> Decisions</h3>


<br />