@model WCSearch.Models.SearchData

@{
    ViewData["Title"] = "Contact";
}


<head>
    <link rel="stylesheet" href="~/css/wc.css" />
</head>

<br />


<p>

    <br />

    <body>

        <br />
        <h1>Thomas McGlaughlin </h1>
        <h1>219 Militia Ct </h1>
        <h1>Collegeville PA 19426 </h1>
        <h1>610-607-1768 </h1>

    </body>
